.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
}

.portfolio__box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  img {
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 0.5s;
  }

  .portfolio__img {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px rgba(227, 224, 224, 0.8);
  }


  &:hover .portfolio__img {
    transform: scale(1.1);
    opacity: 0.9;
  }

  &:hover .portfolio__name {
    transition: all 0.3s ease;
    text-decoration: underline;
    color: var(--success-color);
  }

  .portfolio__name {
    text-overflow: ellipsis;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.55;
  }
}

.modal__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    font-size: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  p {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.modal__img{
  padding-right: 10px;
  img{
    width: 100%;
    height: auto;
  }
}

.modal__description {
  padding-left: 10px;
}

.description__title {
  font-weight: 700;
  font-size: 18px;
}

.description__link {
  color: var(--success-color);
  text-decoration: underline;
  & > a {
    color: var(--success-color);
  }
}

.description__github {
}

.modal__btn {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}