.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 6rem);
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 5px 5px rgba(182, 182, 184, 0.8)
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 8px 0 10px 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.66;

  a {
    text-decoration: none;
    color: #252525;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: var(--success-color);
    }

    &.active {
      text-decoration: underline;
      color: var(--success-color);
    }
  }
}

.logo {
  span {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Lato', sans-serif;

    &:after{
      content: '.';
      color: var(--success-color);
    }
  }
}

